<!DOCTYPE html>
<html>
<head>
  <title>Tambah Penumpang</title>
  <style>
    .passenger-action-box {
      /* gaya CSS lainnya */
    }
  </style>
</head>
<body>
  <div class="passenger-action-box fadeInDown-enter-done">
    <div class="head">Penumpang<i class="tix tix-cancel icon-close"></i></div>
    <div class="passenger-box">
      <div class="passenger-list-box">
        <div class="left">
          <p class="passenger-type">Dewasa</p>
          <p class="passenger-criteria">Usia 3+</p>
        </div>
        <div class="right">
          <div class="part">
            <button onclick="decrementDewasa()"><i class="tix tix-minus icon"></i></button>
          </div>
          <div class="part counter-dewasa">1</div>
          <div class="part">
            <button onclick="incrementDewasa()"><i class="tix tix-plus icon"></i></button>
          </div>
        </div>
      </div>
      <div class="passenger-list-box">
        <div class="left">
          <p class="passenger-type">Bayi</p>
          <p class="passenger-criteria">Di bawah 3</p>
        </div>
        <div class="right">
          <div class="part">
            <button onclick="decrementBayi()"><i class="tix tix-minus icon"></i></button>
          </div>
          <div class="part counter-bayi">0</div>
          <div class="part">
            <button onclick="incrementBayi()"><i class="tix tix-plus icon"></i></button>
          </div>
        </div>
      </div>
    </div>
    <div class="foot">
      <button>Selesai</button>
    </div>
  </div>

  <script>
    function incrementDewasa() {
      var dewasaCounter = document.querySelector('.counter-dewasa');
      var bayiCounter = document.querySelector('.counter-bayi');
      var dewasaCount = parseInt(dewasaCounter.textContent);
      var bayiCount = parseInt(bayiCounter.textContent);

      dewasaCounter.textContent = dewasaCount + 1;
      if (bayiCount >= dewasaCount + 1) {
        bayiCounter.textContent = dewasaCount + 1;
      }
    }

    function decrementDewasa() {
      var dewasaCounter = document.querySelector('.counter-dewasa');
      var dewasaCount = parseInt(dewasaCounter.textContent);

      if (dewasaCount > 1) {
        dewasaCounter.textContent = dewasaCount - 1;
      }
    }

    function incrementBayi() {
      var dewasaCounter = document.querySelector('.counter-dewasa');
      var bayiCounter = document.querySelector('.counter-bayi');
      var dewasaCount = parseInt(dewasaCounter.textContent);
      var bayiCount = parseInt(bayiCounter.textContent);

      if (bayiCount < dewasaCount) {
        bayiCounter.textContent = bayiCount + 1;
      }
    }

    function decrementBayi() {
      var bayiCounter = document.querySelector('.counter-bayi');
      var bayiCount = parseInt(bayiCounter.textContent);

      if (bayiCount > 0) {
        bayiCounter.textContent = bayiCount - 1;
      }
    }
  </script>
</body>
</html>
