<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="dashboard.css">
	<title>TrainVenture - Admin</title>
</head>

<body>
	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand">
			<img src="../Assets/Icon.ico">
			<span class="text">TrainVenture</span>
		</a>
		<ul class="side-menu top">
			<li class="active">
				<a href="dashboard.html">
					<i class='bx bxs-dashboard'></i>
					<span class="text">Manage Ticket</span>
				</a>
			</li>
			<li>
				<a href="comingsoon.html">
					<i class='bx bxs-doughnut-chart'></i>
					<span class="text">Coming Soon</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a href="#" class="logout">
					<i class='bx bxs-log-out-circle'></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->

	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu'></i>
			<a href="#" class="nav-link">Admin</a>
			<input type="checkbox" id="switch-mode" hidden>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Dashboard</h1>
					<ul class="breadcrumb">
						<li>
							<a href="#">Dashboard</a>
						</li>
						<li><i class='bx bx-chevron-right'></i></li>
						<li>
							<a class="active" href="#">Manage Ticket</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="table-data">
				<div class="order">
					<div class="head">
						<h3>Train Tickets</h3>
						<i class='bx bx-search'></i>
						<i class='bx bx-plus'></i>
					</div>
					<table>
						<thead>
							<tr>
								<th>Train</th>
								<th>Days</th>
								<th>Time</th>
								<th>Duration</th>
								<th>Departure</th>
								<th>Arrival</th>
								<th>Price</th>
								<th>Seats</th>
								<th>Manage</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<p>Majapahit</p>
								</td>
								<td>Mon, Wed, Fri</td>
								<td>05.00 GMT+7</td>
								<td>7h 50m</td>
								<td>Surabaya</td>
								<td>Tangerang</td>
								<td>IDR 700.000,00</td>
								<td>200</td>
								<td>
									<button class="manage update">Update</button>
									<button class="manage remove">Remove</button>
								</td>
							</tr>
							<tr>
								<td>
									<p>Gajayana</p>
								</td>
								<td>Sun, Tue, Thu</td>
								<td>08.00 GMT+7</td>
								<td>7h 50m</td>
								<td>Surabaya</td>
								<td>Jogjakarta</td>
								<td>IDR 550.000,00</td>
								<td>150</td>
								<td>
									<button class="manage update">Update</button>
									<button class="manage remove">Remove</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</main>
		<!-- MAIN -->
	</section>

	<script src="dashboard.js"></script>
</body>

</html>