doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css', rel='stylesheet')
    link(rel="stylesheet", href="/stylesheets/dashboard.css")
    title TrainVenture - Admin
  body
    // SIDEBAR
    section#sidebar
      a.brand(href="#")
        img(src="/images/Icon.ico")
        span.text TrainVenture
      ul.side-menu.top
        li.active
          a(href="dashboard")
            i(class='bx bxs-dashboard')
            span.text Manage Ticket
        li
          a(href="comingsoon")
            i(class='bx bxs-doughnut-chart')
            span.text Coming Soon
      ul.side-menu
        li
          a.logout(href="/login")
            i(class='bx bxs-log-out-circle')
            span.text Logout

    // CONTENT
    section#content
      // NAVBAR
      nav
        i(class='bx bx-menu')
        a.nav-link(href="#") Admin
        input#switch-mode(type="checkbox", hidden)

      // MAIN
      main
        .head-title
          .left
            h1 Dashboard
            ul.breadcrumb
              li
                a(href="#") Dashboard
              li
                i(class='bx bx-chevron-right')
              li
                a.active(href="#") Manage Ticket

        .table-data
          .order
            .head
              h3 Train Tickets
              i(class='bx bx-search')
              i(class='bx bx-plus')
            table
              thead
                tr
                  th Train
                  th Days
                  th Time
                  th Duration
                  th Departure
                  th Arrival
                  th Price
                  th Seats
                  th Manage
              tbody
                tr
                  td
                    p Majapahit
                  td Mon, Wed, Fri
                  td 05.00 GMT+7
                  td 7h 50m
                  td Surabaya
                  td Tangerang
                  td IDR 700.000,00
                  td 200
                  td
                    button.manage.update Update
                    button.manage.remove Remove
                tr
                  td
                    p Gajayana
                  td Sun, Tue, Thu
                  td 08.00 GMT+7
                  td 7h 50m
                  td Surabaya
                  td Jogjakarta
                  td IDR 550.000,00
                  td 150
                  td
                    button.manage.update Update
                    button.manage.remove Remove

    script(src="/javascripts/dashboard.js")
