doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/e-ticket.css')
    title Document
  body    
  - for (var num = 1; num <= 3; num++)
    .e-ticket    
      .container            
        .head
          .left
            img(src='/images/Icon.ico', alt='')
            label(for='TV') Train Venture
          .right TRAIN E-TICKET
        .content
          .detail-passenger
            .field
              label(for='name') name
              #name.name(name='name') Ms. Jianjing
            .field
              label(for='identity') id number
              #id.id(name='id') 3122500050
            .field
              label(for='number-phone') mobile number
              #number-phone.number-phone(name='number-phone') 081615661176
            .field
              label(for='email') email
              #email.email(name='email') jiaracing@gmail.com
            .field
              label(for='class') class
              #class.class(name='class') EKONOMI
            .field
              label(for='seat') seat
              #seat.seat(name='seat') GERBONG 2 | 21A
            .field
              label(for='code') booking code
              #code.code(name='code') 5678ASW
          .trip
            .detail-trip.depart
              .trip-head depart
              .journey-trip SURABAYA GUBENG
              .time-trip 12:00
              .date-trip 2023/06/01
            .detail-trip.return
              .trip-head return
              .journey-trip PASAR SENEN
              .time-trip 01:00
              .date-trip 2023/06/03
          .notice
            p E-ticket must be shown in the boarding gate and for verifivation on the train
        .space  