<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/train-ticket/public/stylesheets/e-ticket.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    
    <title>Document</title>
</head>
<body>
    <div class="e-ticket">
        <div class="container">
            <div class="head">
                <div class="left">
                    <img src="/train-ticket/public/images/Icon.ico" alt="">
                    <label for="TV">Train Venture</label>
                </div>
                <div class="right">TRAIN E-TICKET</div>
            </div>
            <div class="content">
                <div class="detail-passenger">
                    <div class="field">
                        <label for="name">name</label>
                        <div class="name" name="name" id="name">Ms. Jianjing</div> 
                    </div>
                    <div class="field">
                        <label for="identity">id number</label>
                        <div class="id" name="id" id="id">3122500050</div>
                    </div>
                    <div class="field">
                        <label for="number-phone">mobile number</label>
                        <div class="number-phone" name="number-phone" id="number-phone">081615661176</div>
                    </div>
                    <div class="field">
                        <label for="email">email</label>
                        <div class="email" name="email" id="email">jiaracing@gmail.com</div>
                    </div>
                </div>
                <div class="trip">
                    <div class="detail-trip depart">
                        <div class="trip-head">go</div>
                        <div class="journey-trip">SURABAYA GUBENG<i class="fa-solid fa-arrow-right"></i>PASAR SENEN</div>
                        <div class="time-trip">12:00</div>
                        <div class="date-trip">2023/06/01</div>
                        <div class="field">
                            <label for="class">class</label>
                            <div class="class" name="class" id="class">EKONOMI</div>
                        </div>
                        <div class="field">
                            <label for="seat">seat</label>
                            <div class="seat" name="seat" id="seat">GERBONG 2 | 21A</div>
                        </div>
                        <div class="field">
                            <label for="code">booking code</label>
                            <div class="code" name="code" id="code">5678ASW</div>
                        </div>
                    </div>
                    <div class="detail-trip return">
                        <div class="trip-head">return</div>
                        <div class="journey-trip">PASAR SENEN<i class="fa-solid fa-arrow-right"></i>SURABAYA GUBENG</div>
                        <div class="time-trip">01:00</div>
                        <div class="date-trip">2023/06/03</div>
                        <div class="field">
                            <label for="class">class</label>
                            <div class="class" name="class" id="class">EKONOMI</div>
                        </div>
                        <div class="field">
                            <label for="seat">seat</label>
                            <div class="seat" name="seat" id="seat">GERBONG 2 | 21A</div>
                        </div>
                        <div class="field">
                            <label for="code">booking code</label>
                            <div class="code" name="code" id="code">5678ASW</div>
                        </div>
                    </div>
                </div>
                <div class="notice">
                    <p>E-ticket must be shown in the boarding gate and for verifivation on the train</p>
                </div>
            </div>
            <div class="space"> </div>
        </div>
    </div>
</body>
</html>