html(lang="en")
  head
    meta(charset="UTF-8")
    title TrainVenture
    link(rel="icon", href="/images/Icon.ico", type="image/png")
    link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap", rel="stylesheet")
    link(rel="stylesheet", href="/stylesheets/landing.css")
  body
    .video-container
      video(autoplay loop muted)
        source(src="/images/VideoBack.mp4", type="video/mp4")
    .hero-section
      h1 Travel.
      h1 Explore.
      h1 Experience.
      h1 TrainVenture.
      p
        | Find out how you can get involved and become part of our journey.
        br
        | Come to
        strong TrainVenture
        |  and have the time of your life.
      button
        a(href="login") Grab yours!
    .menu-section
      ul
        li Help
        li Contact
        li Cart
        li
          a(href="login") Login