<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>TrainVenture</title>
    <link rel="icon" href="./Assets/Icon.ico" type="image/png" />

    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./landing.css">
</head>

<body>
    <div class="video-container">
        <video autoplay loop muted>
          <source src="Assets/VideoBack.mp4" type="video/mp4">
        </video>
    </div>  

    <div class="hero-section">
        <h1>Travel.</h1>
        <h1>Explore.</h1>
        <h1>Experience.</h1>
        <h1>TrainVenture.</h1>
        <p>Find out how you can get involved and become part of our journey.<br>Come to <strong>TrainVenture</strong> and have the time of your life.</p>

        <button><a href="login.html.subcont">Grab yours!</a></button>
    </div>

    <div class="menu-section">
        <ul>
            <li>Help</li>
            <li>Contact</li>
            <li>Cart</li>
            <li><a href="login.html">Login</a></li>
        </ul>
    </div>
</body>

</html>