html(lang="en")
  head
    meta(charset="UTF-8")
    title Register to TrainVenture
    link(rel="icon", href="./Assets/Icon.ico", type="image/png")
    link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap", rel="stylesheet")
    link(rel="stylesheet", href="./login.css")
  body
    .video-container
      video(autoplay loop muted)
        source(src="Assets/videoplayback.webm", type="video/webm")
    .cont
      #signin.form.sign-in
        h2
          img(src="./Assets/Icon.ico", width="60", height="60", class="image-style")
        h2 Welcome to TrainVenture
        h2 Where Your Journey Begins!
        label
          span Email
          input(type="email")
        label
          span Password
          input(type="password")
        button(type="button", class="submit") Sign In
      .sub-cont
        .img
          .img__text.m--up
            h2 New Here ?
            p Start your journey with us by registering now!
          .img__text.m--in
            h2 Already Registered ?
            p Explore destinations and plan your dream trip with us!
          .img__btn
            span.m--up Sign Up
            span.m--in Sign In
        #signup.form.sign-up
          h2
            img(src="./Assets/Icon.ico", width="60", height="60", class="image-style")
          h2 Discover the World with Us Now!
          .grid-container
            .column
              label
                span Name
                input(type="text")
              label
                span Email
                input(type="email")
            .column
              label
                span Resident ID
                input(type="text")
              label
                span Password
                input(type="password")
          button(type="button", class="submit") Sign Up
    script(src="./login.js")
