doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title TrainVenture
    link(rel="icon", href="/images/Icon.ico", type="image/png")
    link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap", rel="stylesheet")
    link(rel="stylesheet", href="/stylesheets/login.css")
  body
    div.video-container
      video(autoplay, loop, muted)
        source(src="/images/videoplayback.webm", type="video/webm")
    div.cont
      form.form.sign-in(action="login" method="post")
        h2
          img(src="/images/Icon.ico", width="60", height="60", class="image-style")
        h2 Welcome to TrainVenture
        h2 Where Your Journey Begins!
        label
          span Email
          input(type="text" name="username" id="username")
        label
          span Password
          input(type="password" name="password" id="password")
        button(type="submit", class="submit") Sign In
      div.sub-cont
        div.img
          div.img__text.m--up
            h2 New Here ?
            p Start your journey with us by registering now!
          div.img__text.m--in
            h2 Already Registered ?
            p Explore destinations and plan your dream trip with us!
          div.img__btn
            span.m--up Sign Up
            span.m--in Sign In
      form.form.sign-up(action="register" method="post")
        h2
          img(src="/images/Icon.ico", width="60", height="60", class="image-style")
        h2 Discover the World with
        h2 TrainVenture Now!
        div.grid-container
          div.column
            label
              span Name
              input(type="text" )
            label
              span Email
              input(type="email")
          div.column
            label
              span Resident ID
              input(type="text")
            label
              span Password
              input(type="password")
        button(type="submit", class="submit") Sign Up
    script(src="/javascripts/login.js")