doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title TrainVenture
    link(rel="icon", href="/images/Icon.ico", type="image/png")
    link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap", rel="stylesheet")
    link(rel="stylesheet", href="/stylesheets/login.css")
  body
    .video-container
      video(autoplay loop muted)
        source(src="/images/videoplayback.webm", type="video/webm")
    .cont
      form.form.sign-in(action="login" method="post")
        h2
          img(src="/images/Icon.ico", width="60", height="60", class="image-style")
        h2 Welcome to TrainVenture
        h2 Where Your Journey Begins!
        label
          span Email
          input(type="email", id="email", name="email")
        label
          span Password
          input(type="password", id="password", name="password")
        button(type="submit", class="submit") Sign In
      .sub-cont
        .img
          .img__text.m--up
            h2 New Here ?
            p Start your journey with us by registering now!
          .img__text.m--in
            h2 Already Registered ?
            p Explore destinations and plan your dream trip with us!
          .img__btn
            span.m--up Sign Up
            span.m--in Sign In
        form.form.sign-up(action="/register" method="post")
          h2
            img(src="/images/Icon.ico", width="60", height="60", class="image-style")
          h2 Discover the World with
          h2 TrainVenture Now!
          .grid-container
            .column
              label
                span Resident ID
                input(type="text", name="resident_id", id="resident_id")
              label
                span Name
                input(type="text", name="name", id="name")
            .column
              label
                span Email
                input(type="email", name="email", id="email")
              label
                span Password
                input(type="password", name="password", id="password")
            .column
              label
                span Phone
                input(type="text", name="phone", id="phone")
          button(type="submit", class="submit") Sign Up
  script(src="/javascripts/login.js")
