extends layout 

block content
    h1 Registration Form 
    form(action='/register', method='post')
        label(for='name') Name: 
        input(type='text', name='name', id='name')
        
        label(for='username') Username: 
        input(type='text', name='username', id='username')

        label(for='password') Password: 
        input(type='password', name='password', id='password')
        
        label(for='email') Name: 
        input(type='text', name='email', id='email')

        label(for='phone') Name: 
        input(type='number', name='phone', id='phone')

        button(type='submit') Register