html(lang='en')  
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/searching.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css')
    link(href='https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap', rel='stylesheet')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    title TrainVenture - Home  
  body
    nav.menu
      span.logo
        a(href='#')
          img(src='/images/Icon.ico', width='30', height='30')
      span.search
        a(href='/logout')
          img(src='/images/logout.png', width='30', height='30')
      ol
        li.menu-item
          a(href='#0') Home
        |  
        li.menu-item
          a(href='#0') About
        li.menu-item
          a(href='#0')
            | Features
            svg.plus-icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 100 125', version='1.1', x='0px', y='0px')
              g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                path(d='	M86.9102564,31.025641 C85.8846154,30 84.2179487,30 83.1923077,31.025641 L50.5,63.7820513 L17.7435897,31.025641 C16.7179487,30 15.0512821,30 14.025641,31.025641 C13,32.0512821 13,33.7179487 14.025641,34.7435897 L48.5769231,69.2948718 C49.0897436,69.8076923 49.7307692,70.0641026 50.4358974,70.0641026 C51.0769231,70.0641026 51.7820513,69.8076923 52.2948718,69.2948718 L86.8461538,34.7435897 C87.9358974,33.7179487 87.9358974,32.0512821 86.9102564,31.025641 Z', fill='#333', fill-rule='nonzero')
          ol.sub-menu
            li.sub-menu-item
              a(href='#0') Cancel
            li.sub-menu-item
              a(href='#0') Coming Soon
        li.menu-item
          a(href='#0')
            | Contact
            svg.plus-icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 100 125', version='1.1', x='0px', y='0px')
              g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                path(d='	M86.9102564,31.025641 C85.8846154,30 84.2179487,30 83.1923077,31.025641 L50.5,63.7820513 L17.7435897,31.025641 C16.7179487,30 15.0512821,30 14.025641,31.025641 C13,32.0512821 13,33.7179487 14.025641,34.7435897 L48.5769231,69.2948718 C49.0897436,69.8076923 49.7307692,70.0641026 50.4358974,70.0641026 C51.0769231,70.0641026 51.7820513,69.8076923 52.2948718,69.2948718 L86.8461538,34.7435897 C87.9358974,33.7179487 87.9358974,32.0512821 86.9102564,31.025641 Z', fill='#333', fill-rule='nonzero')
          ol.sub-menu
            li.sub-menu-item
              a(href='#0') FAQ
            li.sub-menu-item
              a(href='#0') Send a mail
      span.bar
    section#promo.promo-page
      video.video-promo.active(src='/images/japan.mp4', autoplay='', muted='', loop='')
      video.video-promo(src='/images/swiss.mp4', autoplay='', muted='', loop='')
      video.video-promo(src='/images/dubai.mp4', autoplay='', muted='', loop='')
      video.video-promo(src='/images/paris.mp4', autoplay='', muted='', loop='')
      .content.active
        h1 JAPAN
      .content
        h1 SWISS
      .content
        h1 DUBAI
      .content
        h1 PARIS
      .slides-promo
        .nav-btn.active
        .nav-btn
        .nav-btn
        .nav-btn
    form#search-page.search-container(action="searching-go" method="post")
      .train-form
        .header-form
          .icon
            i.fa-solid.fa-train
          h1 Find Your Train Ticket
        .form-group
          .form-component.from
            .title
              label From
            .input-group
              .icon
                i.fa-solid.fa-train
              input.form-control(placeholder='Kota atau Stasiun Asal', type='text', name="departure_station", id="departure_station")
          .form-component.to
            .title
              label To
            .input-group
              .icon
                i.fa-solid.fa-train
              input.form-control(placeholder='Stasiun Tujuan', type='text', name="arrival_station", id="arrival_station")
          .form-component.depart
            .title
              label Go
            .input-group
              .icon
                i.fa-solid.fa-calendar
              input.form-control(type='date', name="go_date", id="go_date")
          .form-component.return
            .title
              .check
                input#check(type='checkbox')
                label Return
            .input-group
              .icon
                i.fa-solid.fa-calendar
              input#input.form-control(type='date', name="return_date", disabled='')
          .form-component.passenger
            .title
              label Passenger
            .input-group              
              input#counter(value="1", type='number', name="passenger")            
        .footer-form
          button(type="submit") Cari Tiket
    footer
      .footer
        .row
          a(href='#')
            i.fa.fa-facebook
          a(href='#')
            i.fa.fa-instagram
          a(href='#')
            i.fa.fa-youtube
          a(href='#')
            i.fa.fa-twitter
        .row
          ul
            li
              a(href='#') Contact us
            li
              a(href='#') Our Services
            li
              a(href='#') Privacy Policy
            li
              a(href='#') Terms &amp; Conditions
        .row
          | TrainVenture Copyright &copy; 2023 TrainVenture - All rights reserved
    script(src='/javascripts/booking.js')
